{% extends "default.html" %}

{% block title_head %}
Coolates
{% endblock title_head %}

{% block button %} Buscar Alumno {% endblock button %}

{% block main %}


<a href={% url "app_alumnos:alumno_nuevo" %}> Crear Alumno Nuevo </a>

<h2>Buscar Alumno</h2>

<p>
    <form method="GET" action="{% url 'app_alumnos:alumno_buscar' %}">
        {{ formulario.as_p }}  
        <button type="submit">Buscar</button>
    </form>
</p>

path('alumno_nuevo/', views.alumno_nuevo, name = 'alumno_nuevo')

{% if db_alumnos %}
    <h3>Resultados:</h3>
    <ul>
        {% for alumno in db_alumnos %}
            <li>{{ alumno.nombre }} {{ alumno.apellido }} ({{ alumno.email }})</li> 
            | <a href={% url "app_alumnos:alumno_ver" alumno.id %}> VER </a>
            | <a href={% url "app_alumnos:alumno_editar" alumno.id %}> Editar </a>
            | <a href={% url "app_alumnos:alumno_eliminar" alumno.id %}> Eliminar </a>
            
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron resultados.</p>
{% endif %}

{% endblock main %}
