{% extends "default.html" %}
{% block title_head %}
COOLates
{% endblock title_head %}

{% block h2_header %}
<h2 class="masthead-subheading mb-0"> {{request.user.username}} </h2>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll"> Edita tu información </a>
{% endblock h2_header %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h3>Información personal</h3>
    {{ form_user.as_p }}
    
    <h3>Avatar</h3>
    {{ form_avatar.as_p }}
    
    <button type="submit">Guardar cambios</button>
</form>

{% endblock main %}